footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 0.1em solid red; */
    padding: 0.5em;
    background-color: #5D733C ;
}

footer span{
    font-size: 1em;
    color: #0D1C26;
    font-weight: bold;
}

footer a{
    text-decoration: none;
    font-size: 1.3em;
    color: #0D1C26;
    font-weight: bold;
    transition: color .2s ease;
}

footer a:hover{
    color: #d9d9d9;
}

.links-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 1.5em;
}


@media screen and (max-width: 800px){
    footer span{
        font-size: 0.9em;
    }

    footer a{
        font-size: 1.1em;
    }

    .links-contact{
        gap: 0.8em;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 512px){
    footer span{
        font-size: 0.7em;
    }

    footer a{
        font-size: 0.9em;
    }

    .links-contact{
        gap: 0.8em;
        font-size: 1.3em;
    }
}